<nav class='users-search'>
  <label for="user-name">Search Username:</label>
  <input type="text" id="user-name" name="user[username]" value="">

  <section class="users-results">
    <ul class="users">

    </ul>
  </section>
</nav>