body {
  background-color: green;
}

.header {
  display: flex;
  justify-content: space-between;
  /* margin: 25px; */
  padding: 25px;
  background: lightskyblue;
  border-bottom: 1px solid gray
}
.content-nav {
  display: flex;
  justify-content: space-between;
  /* background: green; */
  width: 150px;
  flex-wrap: nowrap
}

.main-content {
  margin: 0 auto;
  width: 900px;
  border: 1px solid gray;
  border-top: none;
  padding: 25px;
}

.users-results {
  padding: 10px 0px;
}

.users-results ul li{
  padding: 5px 0px;
}

button {
  padding: 2px 10px;
  margin: 0px 5px;
  background: cornflowerblue;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

button:active {
  box-shadow: none;
}

button:hover {
  background: rgb(134, 169, 235);
  cursor: pointer;
}

.tweet-compose > label {
  padding: 10px;
}

.tweet-compose {
  padding: 25px 0px;
}

.new-tweet {
  padding: 10px;
  /* background: green; */
}

.welcome-user {
  width: 100%;
  margin: 0 auto;
  background: lightskyblue;
  text-align: center;
  font-size: 46px;
  border: 1px solid gray;
  border-radius: 5px;
}

#feed {
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid gray;
  border-radius: 5px;
}

.tweet-content {
  padding: 40px 10px;
  border: 1px solid gray;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
}